

h1.welcome {
    text-align: center;
    padding: 10px;
    color: white
    ;

}
input.welcome {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
}

.nav-bar {
    background: linear-gradient(-90deg, rgb(0, 0, 0), rgb(125, 141, 139));
    height: 60px;
    margin-bottom: 30px;
    font-family: monospace;
    /* margin-bottom: 10px; */
    /* padding-bottom: 10px; */
    /* border: solid;
    border-color: black;
    border-radius: 3px; */
  }

body {
    background: rgb(218, 218, 218);
    padding: 40px;
}
#Vueapp {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    transition: all 0.2s;
}

li {
    margin: 10px 0;
    font-family: monospace;
    font-size: 16pt;
    background-color: slategray;
    padding: 20px;
    border: solid;
    border-color: black;
    border-radius: 3px;
}

del {
    color: rgba(0, 0, 0, 0.3);
}

.xbutton {
    font-size: 20px;
    background-color: tomato;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
  
.padding {
      padding: 1px 7px 2px;
    }

.flex {
    display: flex;
}

.space {
      flex-grow: 1;
    }
